.tabSanPham >.d-flex{
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.pnlSanPham{
    height: 400px;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    
}
.theSanPham {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;  
    
}
.rowThongTinSanPham{
    width: 100%;
    height: 265px;
    background: linear-gradient(rgb(26, 24, 24), white);
    transition: height 0.4s;
    
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}
.pnlTieuDe{
    position: relative;
    width: 100%;
    height: 265px;
}
.pnlTieuDe h5{
    padding: 0px;
    margin: 0px;
    color: #e9633b;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.4s;
}
.pnlMoTa{
    position: absolute;
    width: 100%;
    height: 135px;
}
.rowChiTietSanPham{
    width: 90%;
    height: 135px;
    position: absolute;
    bottom: 0;
    left: 7%;
    z-index: 1;
    box-sizing: border-box;
}
.theSanPham:hover .rowThongTinSanPham .pnlTieuDe h5,
.theSanPham:hover .rowThongTinSanPham {
    height: 100%;
    color: #f0f0f0;
}
.moTaSanPham{
    height: 70px;
    top: 0;
    left: 0;
    padding: 0rem 1rem; 
}
.moTaSanPham p{
    line-height: 20px;
    text-align: justify;
    border-right: 2px solid #a1a1a1;
    padding-right: 10px;
}

.btnMua{
 height: 65px;
 bottom: 0;
}
.btnMua a{
    position: absolute;
    border-radius: 10px;
    background-color: #ececec;
    border: none;
    color: rgb(26, 24, 24);
    font-family: var(--aton);
    font-size: 1em!important;
    bottom: 15px;
    right: 25px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}

.btnMua a:hover{
    background-color: #cbcbcb;
    color: var(--light-color);
    font-size: 1.3em;
}
.logoSticked{
    position: absolute;
    width: 50px;
    z-index: 3;
    top: 10px;
    left: 10px;
}
.theSanPham .rowThongTinSanPham .pnlTieuDe h5{
    font-family: var(--calibri);
}

.rowChiTietSanPham>.row .col-6 p{
   /* font-family: var(--lobster); */
   width: 100%;
   font-family: var(--calibri);
   font-weight: bold;
   font-style: italic;
   font-size: 16px;
   flex: 0em;
   padding: 0px;
   margin: 0;
   
}
.rowChiTietSanPham>.row{
    height: 40px;
    font-size: 17px;
    border-left: 2px solid #a1a1a1;
}
.rowChiTietSanPham>.row .col-6 span,
.rowChiTietSanPham>.row .col-6 i{
    color: #8f8f8f;

}
.rowChiTietSanPham>.row .col-6 span{
    font-family: var(--calibri); 
    
}


.price i, .price span{
    font-size: 16px;
    color: #171818;
}
.price > span{
    font-family: var(--baloobahai);
    font-size: 15px;
}
@media (max-width: 575.98px) { 
  
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
 

 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .rowThongTinSanPham{

    }
    .pnlTieuDe {
        height: 235px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }